<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Welcome to Quizz App</h1>
  <p class="col-md-8 fs-4">
    This Quiz will contain 9 Questions, Each Question holds 10 points.
  </p>
  <h4>Rules:</h4>
  <ol>
    <li>Correct Answers will give you 10 points.</li>
    <li>Incorrect Answers will give you -10 points.</li>
    <li>You will have 10 sec to answer each question.</li>
    <li>Refreshing the page will Reset the Quiz</li>
  </ol>
  <h1 style="font-family: cursive; text-align: center">All The Best!!</h1>
  <button class="btn btn-primary btn-lg" routerLink="/question">Start</button>
</div>
